*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Red Hat Display', sans-serif;

  --fw-bold: 900;
  --fw-medium: 500;

  --fs-heading-1: 4rem;
  --fs-heading-2: 2.5rem;
  --fs-overline: 1rem;
  --fs-body: 1.125rem;

  --cyan-600: hsl(192deg, 37%, 48%);
  --cyan-300: hsl(192deg, 90%, 77%);
  --purple-600: hsl(268deg, 34%, 53%);
  --purple-300: hsl(268deg, 100%, 86%);
  --slate-900: hsl(240deg, 21%, 20%);
  --slate-600: hsl(240deg, 10%, 57%);
  --slate-300: hsl(240deg, 18%, 85%);
  --white: hsl(0deg, 0%, 98%);
}

img {
  max-width: 100%;
  height: auto;
}

button:hover {
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  min-height: 100vh;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  justify-content: center;
  justify-items: center;
  width: 100%;
  margin: 40px;
  overflow: hidden;
}

.logo {
  grid-column: span 3;
  justify-self: center;
}

.hero-image.center {
  grid-column: span 2;
  justify-self: center;
  overflow: hidden;
  width: 110%;
}

.hero-image.left,
.hero-image.right {
  display: none;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  grid-column: span 2;
  justify-self: center;
  padding: 0 2rem 0 2rem;
}

h1 {
  font-size: var(--fs-heading-2);
  line-height: 110%;
  color: var(--slate-900);
  font-weight: var(--fw-bold);
  text-align: center;
}

.hero p {
  font-size: 1rem;
  line-height: 150%;
  color: var(--slate-600);
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

button {
  width: max-content;
  padding: 16px 40px;
  border-radius: 29px;
  border: none;
  color: var(--white);
  font-size: 1rem;
  font-weight: var(--fw-bold);
  line-height: 150%;
}

.hero .btn-download {
  background-color: var(--cyan-600);
}

.btn-what {
  background-color: var(--purple-600);
}

.ver {
  color: var(--cyan-300);
}

main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  margin: 2rem;
  text-align: center;
}

.decoration {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.line {
  width: 1px;
  height: 80px;
  background-color: var(--slate-300);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 1px solid var(--slate-300);
  border-radius: 50%;
  color: var(--slate-600);
  font-weight: var(--fw-bold);
}

.main-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
}

.main-images img {
  border-radius: 8px;
}

.overline {
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  line-height: 110%;
  letter-spacing: 4px;
  color: var(--cyan-600);
}

h2 {
  font-size: 2rem;
  font-weight: var(--fw-bold);
  line-height: 110%;
}

.main-text h2 {
  color: var(--slate-900);
  padding-top: 16px;
  padding-bottom: 32px;
}

.main-body {
  font-weight: var(--fw-medium);
  line-height: 150%;
  color: var(--slate-600);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

footer .decoration {
  margin-bottom: -28px;
}

footer .circle {
  z-index: 5;
  background-color: var(--white);
}

.footer-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--cyan-600);
  opacity: 0.8;
  z-index: 1;
}

.footer-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: relative;
  padding: 4rem 2rem;
  width: 100%;
  color: var(--white);
  background-image: url(./assets/mobile/image-footer.jpg);
  background-size: cover;
}

.footer-text {
  width: 100%;
}

.footer-text h2,
.footer-text p,
.footer-text button {
  position: relative;
  z-index: 2;
}

footer button {
  background-color: var(--purple-600);
}

footer .ver {
  color: var(--purple-300);
}
